.time-line li{
    list-style-type: none;
}

.time-line .tl-header{
    margin: 8px;
    cursor: pointer;
}

/*鼠标移动到 年月 的效果*/
.time-line .tl-header:hover{
    -webkit-filter:brightness(.9);
}


.time-line .tl-header{
    margin: 8px;
    background-color: #23b7e5;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    border-radius: 8px;
}
.time-line .tl-header h2{
    font-size: 14px;
    line-height: 8px;
}


/*时间垂直线*/
.time-line .tl-body{
    border-left: 4px solid #23b7e5;
    margin-left: 52px;
    min-height: 88px;
    margin-top: -10px;
    padding-top: 1px;
    margin-bottom: -8px;
    position: relative;
    padding-bottom: 1px;
}
/*时间线左侧，日 样式*/
.time-line .tl-body span{
    position: absolute;
    left: -60px;
    top: 16px;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}

.time-line .tl-body li{
    display: block;
    position: relative;
    left: -24px;
    margin: 8px 0;
}
.time-line .tl-body li:before{
    position: absolute;
    content: "";
    top: 22px;
    left: -22px;
    width: 4px;
    height: 4px;
    background: #fff;
    border: 2px solid #23b7e5;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
}


/*设置时间线内容样式*/
.time-line .tl-body li h3{
    font-size: 15px;
    background-color: #23b7e5;
    display: inline-block;
    margin: 8px 0;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: normal;
    max-width: 360px;
}
.time-line .tl-body li h3:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: -8px;
    border: 10px solid rgba(0, 0, 0, 0);
    border-right-color: #23b7e5;
    border-left: 0;
}

.time-line .tl-body li a{
    text-decoration: none;
    color: white;
}



/*设置时间线开始样式*/
.tl-header.start{
    position: relative;
    left: 18px;
    background: white!important;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    -webkit-box-shadow: 0 1px 1px rgba(90,90,90,.1);
    box-shadow: 0 1px 1px rgba(90,90,90,.1);
    color: black;
    padding: 0 16px;
}
.tl-header.start > h2{
    font-weight: 500;
}




/*分组设置时间线颜色*/
.time-line .tl-header:nth-child(7n+2),
.time-line .tl-header:nth-child(7n+2) + .tl-body h3{
    background: #fad733;
}
.time-line .tl-header:nth-child(7n+2) + .tl-body{
    border-left: 4px solid #fad733;
}
.time-line .tl-header:nth-child(7n+2) + .tl-body li:before{
    border-color: #fad733;
}
.time-line .tl-header:nth-child(7n+2) + .tl-body h3:before{
    border-right-color: #fad733;
}


.time-line .tl-header:nth-child(7n+3),
.time-line .tl-header:nth-child(7n+3) + .tl-body h3{
    background: #27c24c;
}
.time-line .tl-header:nth-child(7n+3) + .tl-body{
    border-left: 4px solid #27c24c;
}
.time-line .tl-header:nth-child(7n+3) + .tl-body li:before{
    border-color: #27c24c;
}
.time-line .tl-header:nth-child(7n+3) + .tl-body h3:before{
    border-right-color: #27c24c;
}

.time-line .tl-header:nth-child(7n+4),
.time-line .tl-header:nth-child(7n+4) + .tl-body h3{
    background: #3a3f51;
}
.time-line .tl-header:nth-child(7n+4) + .tl-body{
    border-left: 4px solid #3a3f51;
}
.time-line .tl-header:nth-child(7n+4) + .tl-body li:before{
    border-color: #3a3f51;
}
.time-line .tl-header:nth-child(7n+4) + .tl-body h3:before{
    border-right-color: #3a3f51;
}

.time-line .tl-header:nth-child(7n+5),
.time-line .tl-header:nth-child(7n+5) + .tl-body h3{
    background: #1c2b36;
}
.time-line .tl-header:nth-child(7n+5) + .tl-body{
    border-left: 4px solid #1c2b36;
}
.time-line .tl-header:nth-child(7n+5) + .tl-body li:before{
    border-color: #1c2b36;
}
.time-line .tl-header:nth-child(7n+5) + .tl-body h3:before{
    border-right-color: #1c2b36;
}

.time-line .tl-header:nth-child(7n+6),
.time-line .tl-header:nth-child(7n+6) + .tl-body h3{
    background: #7266ba;
}
.time-line .tl-header:nth-child(7n+6) + .tl-body{
    border-left: 4px solid #7266ba;
}
.time-line .tl-header:nth-child(7n+6) + .tl-body li:before{
    border-color: #7266ba;
}
.time-line .tl-header:nth-child(7n+6) + .tl-body h3:before{
    border-right-color: #7266ba;
}

.time-line .tl-header:nth-child(7n+7),
.time-line .tl-header:nth-child(7n+7) + .tl-body h3{
    background: #f05050;
}
.time-line .tl-header:nth-child(7n+7) + .tl-body{
    border-left: 4px solid #f05050;
}
.time-line .tl-header:nth-child(7n+7) + .tl-body li:before{
    border-color: #f05050;
}
.time-line .tl-header:nth-child(7n+7) + .tl-body h3:before{
    border-right-color: #f05050;
}
